@model IEnumerable<prjWastes6.Models.INTRA>

@{
    ViewBag.Title = "客戶訪談記錄";
    Layout = "~/Views/Shared/_LayoutBusiness.cshtml";
}
<link rel="stylesheet" href="~/css/style2CPC.css" />
<div class="title" style="margin-top: 80px;">客戶訪談記錄</div>
<div id="app" class="container mt-5">
    <div class="card">
        <div class="card-body">
            <div class="mb-3">
                <a href="@Url.Action("InterviewRecordEdit")"> <img src="~/image/icons/add.png" alt="新增" style="width: 30px; height: 30px;" /></a>
            </div>
            <div class="table-responsive" style="overflow-x: auto;">
                <table id="datatable" class="table table-striped">
                    <thead>
                        <tr>
                            <th>編輯</th>
                            <th>下載</th>
                            <th>訪談記錄</th>
                            <th>客戶名稱</th>
                            <th>型態別</th>
                            <th>地址</th>
                            <th>電話/傳真</th>
                            <th>國家/區域</th>
                            <th>訪談時間</th>
                            <th>接洽人/職稱/分機</th>
                            <th>接洽人2/職稱2/分機2</th>
                            <th>接洽人3/職稱3/分機3</th>
                            <th>內容</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    <a href="@Url.Action("InterviewRecordEdit", new { INT000 = item.INT000 })">
                                        <img src="~/image/icons/edit.png" alt="編輯" style="width: 20px; height: 20px;" />
                                    </a>
                                </td>
                                <td>
                                    <a href="@Url.Action("PrintRecord", new {  INT000 = item.INT000})">
                                        <img src="~/image/icons/file_download.png" alt="檔案下載" style="width: 20px; height: 20px;" />
                                    </a>                                    
                                </td>
                                <td>
                                    <a href="@Url.Action("RecordList", new { INT000 = item.INT000 })">
                                        <img src="~/image/icons/history.png" alt="到訪記錄" style="width: 20px; height: 20px;" />
                                    </a>
                                </td>


                                <td>@item.INT001</td>
                                <td>@item.INT002</td>
                                <td>@item.INT003</td>
                                <td>@item.INT004/@item.INT005</td>
                                <td>@item.INT006/@item.INT007</td>
                                <td>@item.INT008</td>
                                <td>@item.INT009/@item.INT010/@item.INT011</td>
                                <td>@item.INT012/@item.INT013/@item.INT014</td>
                                <td>@item.INT015/@item.INT016/@item.INT017</td>
                                <td>@item.INT018</td>

                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


<script>
      document.addEventListener('DOMContentLoaded', () => {
     const successMessage = '@TempData["SuccessMessage"]';
     if (successMessage) {
         alert(successMessage);
     }
 });
    $(document).ready(function () {
        $('#datatable').DataTable({
            ordering: true
        });
    });

</script>
