@model IEnumerable<prjWastes6.Models.HighSpeedRailViewModel>

@{
    Layout = "~/Views/Shared/_LayoutMember.cshtml";
    ViewBag.Title = "交通費申請列表";
    List<SelectListItem> filterOptions = new List<SelectListItem>
{
        new SelectListItem { Value = "", Text = "全部" },
        new SelectListItem { Value = "公務車", Text = "公務車" },
        new SelectListItem { Value = "地鐵", Text = "地鐵" },
        new SelectListItem { Value = "客運", Text = "客運" },
        new SelectListItem { Value = "捷運", Text = "捷運" },
         new SelectListItem { Value = "發電機用油", Text = "發電機用油" },
        new SelectListItem { Value = "私車公用", Text = "私車公用" },
         new SelectListItem { Value = "計程車", Text = "計程車" },
        new SelectListItem { Value = "飛機", Text = "飛機" },
        new SelectListItem { Value = "高鐵", Text = "高鐵" }
    };
}

<div style="margin-top: 50px;">
    <h2>@ViewBag.Title</h2>
</div>

@using (Html.BeginForm("HIGH_SPEED_RAIL_List2", "Home", FormMethod.Get))
{
    <div>
        <label>區間:</label>




        <label>
            @Html.RadioButton("dateRangeOption", "docDate") 單據日
        </label>

        <label>
            @Html.RadioButton("dateRangeOption", "invoiceDate") 發票日
        </label>

        <div id="dateRange" style="display:none;">
            @Html.TextBox("startDocDate", null, new { @class = "datepicker", placeholder = "開始日期 (yyyyMMdd)" })
            <label>~</label>
            @Html.TextBox("endDocDate", null, new { @class = "datepicker", placeholder = "結束日期 (yyyyMMdd)" })
        </div>

        <div id="dateRangeInvoice" style="display:none;">
            @Html.TextBox("startDate", null, new { @class = "datepicker", placeholder = "開始日期 (yyyyMMdd)" })
            <label>~</label>
            @Html.TextBox("endDate", null, new { @class = "datepicker", placeholder = "結束日期 (yyyyMMdd)" })
        </div>



    </div>


    <div>
        <label>類別:</label>
        @Html.DropDownList("filterOption", filterOptions, "請選擇")
        @*<input type="submit" value="篩選" />*@
    </div>
    <div>
        <label>條件:</label>
        @Html.TextBox("keyword", null, new { placeholder = "" })
        @*<input type="submit" value="搜尋" />*@
    </div>
    @*<div>
        <label>發票日期範圍:</label>
        @Html.TextBox("startDate", null, new { @class = "datepicker", placeholder = "開始日期 (yyyyMMdd)" })
        <label>~</label>
        @Html.TextBox("endDate", null, new { @class = "datepicker", placeholder = "結束日期 (yyyyMMdd)" })*@
    @*<input type="submit" value="篩選" />*@
    @*</div>*@



    @*<div>
        <label>單據日期區間:</label>
        @Html.TextBox("startDocDate", null, new { @class = "datepicker", placeholder = "開始日期 (yyyyMMdd)" })
        <label>~</label>
        @Html.TextBox("endDocDate", null, new { @class = "datepicker", placeholder = "結束日期 (yyyyMMdd)" })*@
    @*<input type="submit" value="篩選" />*@
    @*</div>*@


    <div>
        <input type="submit" value="送出" />
    </div>


}
<table class="table">
    <tr>
        <th>序</th>
        <th>單據日期</th>

        <th>發票日期</th>
        <th>人員</th>
        @*
            <th>單別</th>
            <th>單號</th>
            <th>序號</th>*@
        <th>票據單別單號</th>
        <th>票據備註</th>
        <th>交通類別</th>
        <th>起點</th>
        <th>迄點</th>
        <th>公里/公升數</th>
    </tr>
    @{
        int counter = 1;
    }
    @foreach (var item in Model)
    {
        <tr>
            <td>@(counter++)</td>
            <td>@item.CREATE_DATE</td>
            @*發票日期*@
            <td>@item.TA015</td>
            <td>@item.TA004</td>
            @*
                <td>@item.TB001</td>
                <td>@item.TB002</td>
                <td>@item.TB003</td>*@

            @*<td>@($"{item.TB001}-{item.TB002}-{item.TB003}")</td>*@

            <td>
                @{

                    var imagePath = "http://192.168.3.151/Traffic/" + item.TF015 + "-" + item.TF016 + ".pdf";
                    //var imagePath = "http://192.168.3.151/Traffic/" + item.TF015 + "-" + item.TF016;
                    var imageUrl = Url.Content(imagePath);

                }
                <a href="@imageUrl" target="_blank">@($"{item.TB001}-{item.TB002}-{item.TB003}")</a>
            </td>
            @*<td>
                    @{
                        var imagePath = "<http://192.168.3.151/Traffic/>" + item.TF015 + "-" + item.TF016 + ".pdf";
                        var imageUrl = Url.Content(imagePath);
                    }
                    <a href="@imageUrl" target="_blank">@($"{item.TB001}-{item.TB002}-{item.TB003}")</a>
                </td>*@

            <td>@item.TB011</td>
            <td>@item.UDF01</td>
            <td>@item.UDF02</td>
            <td>@item.UDF03</td>
            <td>@item.UDF06</td>
        </tr>
    }
</table>

@*@section scripts {
        <script>
            $(function () {
                $("#dateRange").toggle($("input[name='dateRangeOption']:checked").val() !== "all");

                $("input[name='dateRangeOption']").change(function () {
                    $("#dateRange").toggle($(this).val() !== "all");
                });
            });


            $(function () {
                // 初始化時根據選中的 RadioButton 設置 dateRange div 的顯示狀態
                var selectedOption = $("input[name='dateRangeOption']:checked").val();
                if (selectedOption === "docDate") {
                    $("#dateRange").show();
                    $("#dateRangeInvoice").hide();
                } else if (selectedOption === "invoiceDate") {
                    $("#dateRangeInvoice").show();
                    $("#dateRange").hide();
                } else {
                    $("#dateRange").hide();
                    $("#dateRangeInvoice").hide();
                }

                // 監聽 RadioButton 的 change 事件來切換 dateRange div 的顯示狀態
                $("input[name='dateRangeOption']").change(function () {
                    var selectedOption = $(this).val();
                    if (selectedOption === "docDate") {
                        $("#dateRange").show();
                        $("#dateRangeInvoice").hide();
                    } else if (selectedOption === "invoiceDate") {
                        $("#dateRangeInvoice").show();
                        $("#dateRange").hide();
                    } else {
                        $("#dateRange").hide();
                        $("#dateRangeInvoice").hide();
                    }
                });
            });

        </script>
    }*@

@section scripts {
    <script>


        $(function () {
            // 監聽 RadioButton 的 change 事件來切換 dateRange div 的顯示狀態
            $("input[name='dateRangeOption']").change(function () {
                var selectedOption = $(this).val();
                if (selectedOption === "docDate") {
                    $("#dateRange").show();
                    $("#dateRangeInvoice").hide();
                    // 清除 invoiceDate 的日期範圍值
                    $("#startDate").val("");
                    $("#endDate").val("");
                } else if (selectedOption === "invoiceDate") {
                    $("#dateRangeInvoice").show();
                    $("#dateRange").hide();
                    // 清除 docDate 的日期範圍值
                    $("#startDocDate").val("");
                    $("#endDocDate").val("");
                } else {
                    $("#dateRange").hide();
                    $("#dateRangeInvoice").hide();
                    // 清除兩種日期範圍的值
                    $("#startDate").val("");
                    $("#endDate").val("");
                    $("#startDocDate").val("");
                    $("#endDocDate").val("");
                }
            });

            // 初始化時根據選中的 RadioButton 設置 dateRange div 的顯示狀態
            var selectedOption = $("input[name='dateRangeOption']:checked").val();
            if (selectedOption === "docDate") {
                $("#dateRange").show();
                $("#dateRangeInvoice").hide();
            } else if (selectedOption === "invoiceDate") {
                $("#dateRangeInvoice").show();
                $("#dateRange").hide();
            } else {
                $("#dateRange").hide();
                $("#dateRangeInvoice").hide();
            }
        });
    </script>
}
