@{
    Layout = "~/Views/Shared/_LayoutMember.cshtml";
    ViewBag.Title = "Keyenec";
}

<head>
    <link rel="stylesheet" href="~/css/style1.css" />
</head>

<div class="container" style="margin-top: 50px;">
    <h2 class="text-center">空壓機用電量表</h2>

    <form method="get" class="form-inline justify-content-center mb-4">
        <div class="form-group mr-5">
            <label for="startDate" class="mr-3">開始日期:</label>
            <input type="month" name="startDate" class="form-control" value="@Request.QueryString["startDate"]" />
        </div>

        <div class="form-group">
            <button class="btn btn-primary btn-spacing" type="submit">搜索</button>
<button class="btn btn-success" formaction="/Home/ExportKeyenec" type="submit">匯出</button>
        </div>
    </form>
</div>

<br/>

<div class="container">
    <div class="card">
        <div class="card-body">
            <div class="table-responsive"style="overflow-x: auto;">
                <table class="table table-striped table-bordered table-hover ">
                    <thead>
                        <tr>
                            <th></th>
                            <th colspan="3" class="text-center">日期</th>
                            <th colspan="7" class="text-center">最大/最小/每日累計(KWH)</th>
                            <th colspan="8" class="text-center">日累計用電量(KWH)</th>
                            <th colspan="4" class="text-center">每日流量</th>
                            <th rowspan="2" class="text-center">
                                壓縮空氣<br />系統效率值 <br />(kW/CMM)
                            </th>
                        </tr>
                        <tr>
                            <th>序</th>
                            <th>年</th>
                            <th>月</th>
                            <th>日</th>
                            <th>空壓1</th>
                            <th>乾燥1</th>
                            <th>空壓2</th>
                            <th>乾燥2</th>
                            <th>空壓3</th>
                            <th>乾燥3</th>
                            <th>水塔</th>
                            <th>空壓1<br />用電</th>
                            <th>乾燥1<br />用電</th>
                            <th>空壓2<br />用電</th>
                            <th>乾燥2<br />用電</th>
                            <th>空壓3<br />用電</th>
                            <th>乾燥3<br />用電</th>
                            <th>水塔<br />用電</th>
                            <th>總用電量<br />(KWH)</th>
                            <th>最大</th>
                            <th>最小</th>
                            <th>平均</th>
                            <th>總量<br />(m3/h)</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (ViewBag.KeyenecData != null && ViewBag.KeyenecData.Count > 0)
                        {
                            int count = 1;
                            foreach (var item in ViewBag.KeyenecData)
                            {
                                <tr>
                                    <td class="text-center align-middle">@count</td>
                                    <td class="text-center align-middle">@item.KEY01</td>
                                    <td class="text-center align-middle">@item.KEY02</td>
                                    <td class="text-center align-middle">@item.KEY03</td>
                                    <td class="text-center align-middle">@item.MAX空壓1.ToString("N0") / @item.MIN空壓1.ToString("N0") / @item.SUM空壓1.ToString("N0")</td>
                                    <td class="text-center align-middle">@item.MAX乾燥1.ToString("N0")/@item.MIN乾燥1.ToString("N0")/@item.SUM乾燥1.ToString("N0")</td>
                                    <td class="text-center align-middle">@item.MAX空壓2.ToString("N0")/@item.MIN空壓2.ToString("N0")/@item.SUM空壓2.ToString("N0")</td>
                                    <td class="text-center align-middle">@item.MAX乾燥2.ToString("N0")/@item.MIN乾燥2.ToString("N0")/@item.SUM乾燥2.ToString("N0")</td>
                                    <td class="text-center align-middle">@item.MAX空壓3.ToString("N0")/@item.MIN空壓3.ToString("N0")/@item.SUM空壓3.ToString("N0")</td>
                                    <td class="text-center align-middle">@item.MAX乾燥3.ToString("N0")/@item.MIN乾燥3.ToString("N0")/@item.SUM乾燥3.ToString("N0")</td>
                                    <td class="text-center align-middle">@item.MAX水塔.ToString("N0")/@item.MIN水塔.ToString("N0")/@item.SUM水塔.ToString("N0")</td>
                                    <td class="text-center align-middle">@item.空壓1用電.ToString("N0")</td>
                                    <td class="text-center align-middle">@item.乾燥1用電.ToString("N0")</td>
                                    <td class="text-center align-middle">@item.空壓2用電.ToString("N0")</td>
                                    <td class="text-center align-middle">@item.乾燥2用電.ToString("N0")</td>
                                    <td class="text-center align-middle">@item.空壓3用電.ToString("N0")</td>
                                    <td class="text-center align-middle">@item.乾燥3用電.ToString("N0")</td>
                                    <td class="text-center align-middle">@item.水塔用電.ToString("N0")</td>
                                    <td class="text-center align-middle">@item.總用電.ToString("N0")</td>
                                    <td class="text-center align-middle">@item.mMAX.ToString("N2")</td>
                                    <td class="text-center align-middle">@item.mMIN.ToString("N2")</td>
                                    <td class="text-center align-middle">@item.mAVG.ToString("N2")</td>
                                    <td class="text-center align-middle">@item.mSUM.ToString("N2")</td>
                                    <td class="text-center align-middle">@item.mCMM.ToString("N2")</td>
                                </tr>
                                count++;
                            }
                        }
                        else
                        {
                            <tr>
                                <td colspan="33" class="text-center align-middle">No data available</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
