@model IEnumerable<prjWastes6.Models.WASTES>
@{
    Layout = "~/Views/Shared/_LayoutMember.cshtml";
    decimal codeValue = 0;
    decimal transport1 = 0;
    decimal transport2 = 0;
    ViewBag.Title = "List";
}


<style>
    .align-right {
        text-align: right;
    }

    .nowrap {
        white-space: nowrap;
    }
</style>

<div style="margin-top: 50px;">
    <h2>廢棄物:列表</h2>
    <p>
        @Html.ActionLink("廢棄物:新增", "Create", null, new { @class = "btn btn-danger" })
    </p>
    <form method="get">


        <label for="startDate">開始日期:</label>
        <input type="date" name="startDate">

        <label for="endDate">結束日期:</label>
        <input type="date" name="endDate">
        <label>廢棄物代碼:</label>

        @Html.DropDownList("scrapCode", new List<SelectListItem>
    {
      new SelectListItem { Value = "D-2499", Text = "D-2499" },
      new SelectListItem { Value = "D-2399", Text = "D-2399" },
      new SelectListItem { Value = "D-1801", Text = "D-1801" },
      new SelectListItem { Value = "D-2406", Text = "D-2406" }
    }, "請選擇")
        <button type="submit">搜索</button>
    </form>
</div>

<div>
    二氧化碳當量總量: @ViewBag.TotalCarbonDioxide
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DOCUMENT_ID)
            </th>
            <th>檔案名稱</th>

            <th>
                @Html.DisplayNameFor(model => model.REMOVAL_DATE)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CLEANER_CODE)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PURGE_NAME)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NUMBER_CARRIER)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TREATMENT)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FINAL_DISPOSER_CODE)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FINAL_DISPOSER_NAME)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FINAL_DISPOSER)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SCRAP_CODE)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SCRAP_NAME)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DECLARED_WEIGHT)
            </th>
            <th>
                係數
                廢棄物掩埋清理服務(南部科學工業園區-台南園區)
                (kg CO2e）/公噸)
            </th>
            <th>
                廢棄物掩埋計算結果
                ton CO2e/ton
            </th>
            <th>
                @Html.DisplayNameFor(model => model.KILOMETERS)
            </th>
            <th>
                係數
                營業大貨車(柴油)
                (kg CO2e）/延噸公里(tkm))
            </th>
            <th>
                係數
                以柴油動力垃圾車清除運輸一般廢棄物
                (kg CO2e）/延噸公里(tkm))
            </th>
            <th>
                廢棄物運輸計算結果
                ton CO2e/延噸公里(tkm)
            </th>


            <th>
                @Html.DisplayNameFor(model => model.VOUCHER_NUMBER)
            </th>


            <th>修改</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td class="nowrap">
                @Html.DisplayFor(modelItem => item.DOCUMENT_ID)
            </td>
            @*<td>
        @Html.DisplayFor(modelItem => item.REMOVAL_DATE)
        @Html.DisplayFor(modelItem => item.REMOVAL_DATE.HasValue ? item.REMOVAL_DATE.Value.ToString("yyyy-MM-dd HH:mm:ss.fffffff") : "")
        </td>*@

            <td>

                @{//20240424改成外部連結
                    //var imagePath = "~/files/" + item.CC009;
                    var imagePath = "http://192.168.3.151/WASTES/" + item.DOCUMENT_ID + ".pdf";
                    var imageUrl = Url.Content(imagePath);
                    var imageFileName = item.DOCUMENT_ID; // DOCUMENT_ID 欄位中的檔案名稱
                }

                <a href="@imageUrl" target="_blank" title="@imageFileName">@imageFileName</a>

            <td class="nowrap">
                @Html.DisplayFor(modelItem => item.FormattedRemovalDate)
            </td>

            <td class="nowrap">
                @Html.DisplayFor(modelItem => item.CLEANER_CODE)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PURGE_NAME)
            </td>

            <td class="nowrap">
                @Html.DisplayFor(modelItem => item.NUMBER_CARRIER)
            </td>
            <td class="nowrap">
                @Html.DisplayFor(modelItem => item.TREATMENT)
            </td>
            <td class="nowrap">
                @Html.DisplayFor(modelItem => item.FINAL_DISPOSER_CODE)
            </td>
            @*
        <td>
            @Html.DisplayFor(modelItem => item.FINAL_DISPOSER_NAME)
        </td>20240422帶入地圖連結*@
            <td>
                @if (item.FINAL_DISPOSER_NAME == "大寧股份有限公司")
                {
                    <a href="~/templates/大寧掩埋場-公司路程圖.pdf" target="_blank">大寧股份有限公司</a>
                }
                else if (item.FINAL_DISPOSER_NAME == "國家科學及技術委員會南部科學園區管理局(臺南園區資源再生中心)")
                {
                    <a href="~/templates/南部科學園區台南園區資源再生中心-公司路程圖.pdf" target="_blank">國家科學及技術委員會南部科學園區管理局(臺南園區資源再生中心)</a>
                }
            </td>
            <td class="nowrap">
                @Html.DisplayFor(modelItem => item.FINAL_DISPOSER)
            </td>
            <td class="nowrap">
                @Html.DisplayFor(modelItem => item.SCRAP_CODE)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SCRAP_NAME)
            </td>
            <td class="align-right">
                @Html.DisplayFor(modelItem => item.DECLARED_WEIGHT)
            </td>
            <td class="align-right">
                @{
                    switch (item.SCRAP_CODE)
                    {
                        case "D-2499":
                        case "D-2406":
                            codeValue = 7.07m;
                            break;

                        case "D-2399":
                        case "D-1801":
                            codeValue = 737.14m;
                            break;
                    }
                }
                @codeValue
            </td>

            <td class="align-right">@(((item.DECLARED_WEIGHT * codeValue / 1000) ?? 0).ToString("F4"))</td>
            <td class="align-right">
                @Html.DisplayFor(modelItem => item.KILOMETERS)
            </td>
            <td class="align-right">
                @{
                    transport1 = 0;
                    switch (item.SCRAP_CODE)
                    {
                        case "D-2499":
                        case "D-2406":
                        case "D-2399":
                            transport1 = 0.131m;
                            break;
                    }
                }
                @(transport1 != 0 ? transport1.ToString("F4") : "")
            </td>
            <td class="align-right">
                @{
                    transport2 = 0;
                    switch (item.SCRAP_CODE)
                    {
                        case "D-1801":
                            transport2 = 1.31m;
                            break;
                    }
                }
                @(transport2 != 0 ? transport2.ToString("F4") : "")
            </td>
            <td class="align-right">
                @{
                    decimal result = 0;

                    if (transport1 != 0)
                    {
                        result = item.KILOMETERS.Value * transport1/1000;
                    }
                    else if (transport2 != 0)
                    {
                        result = item.KILOMETERS.Value * transport2/1000;
                    }
                }
                @String.Format("{0:F4}", result)
            </td>

            <td class="align-right">
                @Html.DisplayFor(modelItem => item.VOUCHER_NUMBER)
            </td>

            <td>
                @Html.ActionLink("修改", "Edit", new { id = item.DOCUMENT_ID })
            </td>
        </tr>
        }
    </tbody>
</table>
