@model IEnumerable<object>
@using prjWastes6.Models;
@using Newtonsoft.Json
@{
    Layout = "~/Views/Shared/_LayoutMember2.cshtml";
    ViewBag.Title = "數據統計";
}

<head>
    <link rel="stylesheet" href="~/css/style2.css" />
</head>
<div id="app" class="container" style="margin-top: 50px;">
    <h2 class="text-center">數據統計</h2>

    <form method="get" action="@Url.Action("SGS_Calculate", "Home")" class="form-inline justify-content-center mb-4">
        <div class="form-group mr-3">
            <label for="category" class="mr-3">選擇類別:</label>
            <select v-model="category" name="category" class="form-control">
                <option value="">請選擇</option>
                <option value="electricity">電費</option>
                <option value="water">水費</option>
                <option value="waste">廢棄物</option>
            </select>
        </div>

        <!-- 電費 -->
        <div v-if="category === 'electricity'" class="form-group mr-3">
            <label for="startdate" class="mr-3">開始日期:</label>
            <input type="date" name="startdate" class="form-control" v-model="startdate" />
            <label for="enddate" class="mr-3">結束日期:</label>
            <input type="date" name="enddate" class="form-control" v-model="enddate" />
            <label for="factory" class="mr-3">選擇廠區:</label>
            <select name="factory" class="form-control" v-model="factory">
                <option>請選擇</option>
                <option value="南科廠">南科廠</option>
                <option value="樹谷廠">樹谷廠</option>
            </select>
        </div>

        <!-- 水費 -->
        <div v-if="category === 'water'" class="form-group mr-3">
            <label for="startdate" class="mr-3">開始日期:</label>
            <input type="date" name="startdate" class="form-control" v-model="startdate" />
            <label for="enddate" class="mr-3">結束日期:</label>
            <input type="date" name="enddate" class="form-control" v-model="enddate" />
            <label for="factory" class="mr-3">選擇廠區:</label>
            <select name="factory" class="form-control" v-model="factory">
                <option>請選擇</option>
                <option value="南科廠">南科廠</option>
                <option value="樹谷一期">樹谷一期</option>
                <option value="樹谷二期">樹谷二期</option>
            </select>
            <label for="waterdiameter" class="mr-3">水表口徑:</label>
            <select name="waterdiameter" class="form-control" v-model="waterdiameter">
                <option>請選擇</option>
                <option value="40">40</option>
                <option value="75">75</option>
                <option value="100">100</option>
            </select>
        </div>

        <!-- 廢棄物 -->
        <div v-if="category === 'waste'" class="form-group mr-3">
            <label for="startdate" class="mr-3">開始日期:</label>
            <input type="date" name="startdate" class="form-control" v-model="startdate" />
            <label for="enddate" class="mr-3">結束日期:</label>
            <input type="date" name="enddate" class="form-control" v-model="enddate" />
            <label for="methods" class="mr-3">處理方式:</label>
            <select name="methods" class="form-control" v-model="methods">
                <option>請選擇</option>
                <option value="掩埋">掩埋</option>
                <option value="焚化處理">焚化處理</option>
            </select>
            <label for="code" class="mr-3">廢棄物代碼:</label>
            <select name="code" class="form-control" v-model="code">
                <option>請選擇</option>
                <option value="D-1801">D-1801</option>
                <option value="D-2399">D-2399</option>
                <option value="D-2406">D-2406</option>
                <option value="D-2499">D-2499</option>
            </select>
        </div>

        <div class="form-group">
            <button class="btn btn-primary btn-spacing" type="submit">搜索</button>
        </div>
    </form>

    <br />

    <!--table-->

    @if (Model is List<ElectricitySummaryViewModel> electricityModel)
    {
        <div class="card">
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-striped table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>廠區</th>
                                <th>尖峰用電度數</th>
                                <th>半尖峰用電度數</th>
                                <th>週六半尖峰用電度數</th>
                                <th>離峰用電度數</th>
                                <th>總用電數</th>
                                <th>總費用(含稅)</th>
                                <th>本期碳排量</th>
                                <th style="width:150px">係數</th>
                                <th style="width:150px">計算結果</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in electricityModel)
                            {
                                <tr>
                                    <td>@item.Factory</td>
                                    <td>@item.SumPeakElectricity</td>
                                    <td>@item.SumHalfSpikePower</td>
                                    <td>@item.SumSaturdayHalfPeak</td>
                                    <td>@item.SumOffPeakElectricity</td>
                                    <td>@item.SumTotalElectricity</td>
                                    <td>@item.SumTotalBillTax</td>
                                    <td>@item.SumCarbonPeriod</td>
                                    <td>
                                        <input type="text" v-model="searchQuery" class="form-control mb-3" placeholder="輸入搜尋詞..." />
                                        <select v-model="selectedCoefficient" class="form-control" v-on:change="updateSelectedCoefficient">
                                            <option v-for="option in filteredOptions" :key="option" :value="option.split('-')[0]">
                                                {{ option }}
                                            </option>
                                        </select>
                                    </td>
                                    <td>
                                        <input type="text" class="form-control" :value="calculateCarbonEmission(@item.SumCarbonPeriod)" readonly />
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    }
    else if (Model is List<WaterSummaryViewModel> waterModel)
    {
        <div class="card">
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-striped table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>廠區</th>
                                <th>水表口徑</th>
                                <th>本期指針數</th>
                                <th>總用度數</th>
                                <th>總水費(含稅)</th>
                                <th>本期碳排量</th>
                                <th style="width:150px">係數</th>
                                <th style="width:150px">計算結果</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in waterModel)
                            {
                                <tr>
                                    <td>@item.Factory</td>
                                    <td>@item.Waterdiameter</td>
                                    <td>@item.SumNUMBERPOINTERS</td>
                                    <td>@item.SumTOTALWATER</td>
                                    <td>@item.SumTOTALBILLTAX</td>
                                    <td>@item.SumCARBONPERIOD</td>
                                    <td>
                                        <input type="text" v-model="searchQuery" class="form-control mb-3" placeholder="輸入搜尋詞..." />
                                        <select v-model="selectedCoefficient" class="form-control" v-on:change="updateSelectedCoefficient">
                                            <option v-for="option in filteredOptions" :key="option" :value="option.split('-')[0]">
                                                {{ option }}
                                            </option>
                                        </select>
                                    </td>
                                    <td>
                                        <input type="text" class="form-control" :value="calculateCarbonEmission(@item.SumCARBONPERIOD)" readonly />
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    }
    else if (Model is List<WasteSummaryViewModel> wasteModel)
    {
        <div class="card">
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-striped table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>中間處理方式</th>
                                <th>廢棄物代碼</th>
                                <th>申報重量(公噸)</th>
                                <th>運輸公里</th>
                                <th>活動數據</th>
                                <th>排放係數</th>
                                <th>二氧化碳當量</th>
                                <th style="width:150px">係數</th>
                                <th style="width:150px">計算結果</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in wasteModel)
                            {
                                <tr>
                                    <td>@item.methods</td>
                                    <td>@item.code</td>
                                    <td>@item.SumDECLAREDWEIGHT </td>
                                    <td>@item.SumCKILOMETERS </td>
                                    <td>@item.SumACTIVITYDATA </td>
                                    <td>@item.SumCARBONEMISSIONFACTOR </td>
                                    <td>@item.SumCCARBONDIOXIDE</td>
                                    <td>
                                        <input type="text" v-model="searchQuery" class="form-control mb-3" placeholder="輸入搜尋詞..." />
                                        <select v-model="selectedCoefficient" class="form-control" v-on:change="updateSelectedCoefficient">
                                            <option v-for="option in filteredOptions" :key="option" :value="option.split('-')[0]">
                                                {{ option }}
                                            </option>
                                        </select>
                                    </td>
                                    <td>
                                        <input type="text" class="form-control" :value="calculateCarbonEmission(@item.SumCCARBONDIOXIDE)" readonly />
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    }
</div>

<script>
    new Vue({
    el: '#app',
    data: {
        category: '',
        startdate: '',
        enddate: '',
        factory: '',
        waterdiameter: '',
        methods: '',
        code: '',
        coefficientOptions: @Html.Raw(JsonConvert.SerializeObject(ViewBag.CoefficientOptions)) || [],
        selectedCoefficient: '',
        searchQuery: ''
    },
    mounted() {
        const urlParams = new URLSearchParams(window.location.search);
        this.category = urlParams.get('category') || '';
        this.startdate = urlParams.get('startdate') || '';
        this.enddate = urlParams.get('enddate') || '';
        this.factory = urlParams.get('factory') || '';
        this.waterdiameter = urlParams.get('waterdiameter') || '';
        this.methods = urlParams.get('methods') || '';
        this.code = urlParams.get('code') || '';
    },
    computed: {
        filteredOptions() {
            return this.coefficientOptions.filter(option => {
                return option.toLowerCase().includes(this.searchQuery.toLowerCase());
            });
        }
    },
    methods: {
        updateSelectedCoefficient(event) {
            const selected = event.target.value;
            const parts = selected.split("-");

            this.selectedCoefficient = parts[0];  
        },

        calculateCarbonEmission(co2Value) {

            if (this.selectedCoefficient && co2Value) {
                return (parseFloat(this.selectedCoefficient) * parseFloat(co2Value)).toFixed(4); 
            }
            return ''; 
        }
    }
});

</script>
