@model IEnumerable<prjWastes6.Models.TAXI_APPLICATION>

@{
    Layout = "~/Views/Shared/_LayoutMember.cshtml";
}
@{
    ViewBag.Title = "TAXI_APPLICATIONList";
}
<style>
    .align-right {
        text-align: right;
    }
</style>
<div style="margin-top: 50px;">
    <h2>計程車:交通費申請:列表</h2>
    <p>
        @*@Html.ActionLink("計程車:交通費申請:新增", "TAXI_APPLICATIONL_Create", null, new { @class = "btn btn-danger" })*@
        @*@Html.ActionLink("計程車-出差申請單:新增", ""TAXI_APPLICATIONL_Create")*@
    </p>
    
</div>
<html>
@*<head>
        <meta name="viewport" content="width=device-width" />
        <title>計程車-出差申請單</title>
    </head>*@
<body>
    @*<p>
        @Html.ActionLink("計程車-出差申請單:新增", "WaterCreate", null, new { @class = "btn btn-danger" })
        @Html.ActionLink("Create New", "Create")
        </p>*@
    <table class="table" style="margin-top: 100px;">
        <tr>
            @*

        <th>
            @Html.DisplayNameFor(model => model.DOCUMENT_ID)
        </th>*@
            @*
        <th>
            @{
                int counter = 1;
            }
        </th>*@
            <th> 項次 </th>
            <th>
                @Html.DisplayNameFor(model => model.BASE_NAME)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DOCUMENT_DATA)
            </th>


            <th>
                @Html.DisplayNameFor(model => model.AMOUNT)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.KILOMETERS)
            </th>
            @*
        <th>
            @Html.DisplayNameFor(model => model.ImageMimeType)
        </th>*@
            <th>
                @Html.DisplayNameFor(model => model.INFORMATION)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.REMARK)
            </th>
            @*<th>
            @Html.DisplayNameFor(model => model.VOUCHER_NUMBER)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.DOCUMENT_ID)
        </th>*@
            @*
        <th>
            @Html.DisplayNameFor(model => model.data)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedBy)
        </th>*@
            <th></th>
        </tr>
        @{
            int counter = 1;
        }
        @foreach (var item in Model)
        {
    <tr>
        @*
        <td>
            @Html.DisplayFor(modelItem => item.TAXI_DOCUMENT)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DOCUMENT_ID)
        </td>*@
        @*<td>@counter</td>*@
        <td>@(counter++)</td>
        <td>
            @Html.DisplayFor(modelItem => item.BASE_NAME)
        </td>
        <td>
            @*@Html.DisplayFor(modelItem => item.DOCUMENT_DATA)*@
            @Html.DisplayFor(modelItem => item.FormattedDOCUMENT_DATA)
        </td>


        <td>
            @*@Html.DisplayFor(modelItem => item.AMOUNT)*@
            @Html.DisplayFor(modelItem => item.FormattedAMOUNT)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.KILOMETERS)
        </td>
        @*
        <td>
            @Html.DisplayFor(modelItem => item.ImageMimeType)
        </td>*@
        <td>
            @Html.DisplayFor(modelItem => item.INFORMATION)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.REMARK)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.VOUCHER_NUMBER)
        </td>*@
        @*
        <td>
            @Html.DisplayFor(modelItem => item.data)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreatedBy)
        </td>*@

        @*<td>
            @Html.DisplayFor(modelItem => item.DOCUMENT_ID)
        </td>
        <td>
            @if (item.PDF_CONTENT != null && item.PDF_CONTENT.Length > 0)
            {
                <a href="@Url.Action("GetPdfFile5", "Home", new { id = item.DOCUMENT_ID})" target="_blank">檢視 PDF 檔案</a>
            }
            else
            {
                <span>沒有上傳 PDF 檔案</span>
            }
        </td>*@
        <td>
            @*@Html.ActionLink("修改", "TAXI_APPLICATIONL_Edit", new { id = item.DOCUMENT_ID })*@
            @*|
            @Html.ActionLink("Details", "Details", new { id = item.DOCUMENT_ID }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.DOCUMENT_ID })*@
            </td>
        </tr>
        }

    </table>
</body>
</html>
