@model IEnumerable<prjWastes6.Models.VEHICLE_OIL>
@{
    Layout = "~/Views/Shared/_LayoutMember.cshtml";
}
@{
    ViewBag.Title = "VEHICLE_OIL_List";
}
<style>
    .align-right {
        text-align: right;
    }
</style>
<div style="margin-top: 50px;">
    <h2>車輛用油:列表</h2>
    <p>
        @*@Html.ActionLink("計程車:交通費申請:新增", "TAXI_APPLICATIONL_Create", null, new { @class = "btn btn-danger" })*@
        @*@Html.ActionLink("計程車-出差申請單:新增", ""TAXI_APPLICATIONL_Create")*@
    </p>

</div>
<html>
@*
<head>
    <meta name="viewport" content="width=device-width" />
    <title>VEHICLE_OIL_List</title>
</head>*@
<body>
    @*<p>
            @Html.ActionLink("Create New", "Create")
        </p>*@

    <table class="table">
        <tr>
            <th>加油種類</th>
            <th>總量(公升)</th>
        </tr>
        <tr>
            <td>汽油(L)</td>
            <td>@Model.Where(m => m.OIL_TYPE == "汽油").Sum(m => m.LITERS)</td>
        </tr>
        <tr>
            <td>柴油(L)</td>
            <td>@Model.Where(m => m.OIL_TYPE == "柴油").Sum(m => m.LITERS)</td>
        </tr>
    </table>
    <form method="get" action="@Url.Action("VEHICLE_OIL_List", "Home")">


        <label for="startDate">開始日期：</label>
        <input type="date" name="startDate">

        <label for="endDate">結束日期：</label>
        <input type="date" name="endDate">

        <button type="submit">搜索</button>
    </form>
    <table class="table" style="margin-top: 30px;">
        <tr>
            <th> 項次 </th>
            <th>
                @Html.DisplayNameFor(model => model.DOCUMENT_DATA)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CATEGORY)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LITERS)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BASE_NAME)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OIL_TYPE)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.INFORMATION)
            </th>
            @*
                <th>
                    @Html.DisplayNameFor(model => model.ImageMimeType)
                </th>*@
            <th>
                @Html.DisplayNameFor(model => model.REMARK)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VOUCHER_NUMBER)
            </th>
            @*<th>
                    @Html.DisplayNameFor(model => model.data)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CreatedBy)
                </th>*@
            <th></th>
        </tr>
        @{
            int counter = 1;
        }
        @foreach (var item in Model)
        {
            <tr>
                <td>@(counter++)</td>
                <td>
                    @Html.DisplayFor(modelItem => item.DOCUMENT_DATA)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CATEGORY)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LITERS)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BASE_NAME)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OIL_TYPE)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.INFORMATION)
                </td>
                @*
                    <td>
                        @Html.DisplayFor(modelItem => item.ImageMimeType)
                    </td>*@
                <td>
                    @Html.DisplayFor(modelItem => item.REMARK)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.VOUCHER_NUMBER)
                </td>

                @*<td>
                        @if (item.PDF_CONTENT != null && item.PDF_CONTENT.Length > 0)
                        {
                            <a href="@Url.Action("GetPdfFile7", "Home", new { id = item.VOUCHER_NUMBER})" target="_blank">檢視 PDF 檔案</a>
                        }
                        else
                        {
                            <span>沒有上傳 PDF 檔案</span>
                        }
                    </td>*@

                @*
                    <td>
                        @Html.DisplayFor(modelItem => item.data)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CreatedBy)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.TRIP_NO }) |
                        @Html.ActionLink("Details", "Details", new { id = item.TRIP_NO }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.TRIP_NO })
                    </td>*@
            </tr>
        }

    </table>
</body>
                </html>
